/*header start*/
header {
  position: relative;
    height: 100vh;
}

.overlay {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    min-width: 100%;
    min-height: 100%;
    background: url("../images/bg.jpg") no-repeat center/cover;
}

.description:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 3s;
}
/*header end*/


/*nav start*/
.navbar {
    background-color: #4be3b0;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
}

.nav-link:hover, .navbar-brand:hover {
    background-color: #f4f4f4;
    color: #4be3b0;
    border-radius: 50%;
}

h1 {
    color: #4be3b0;
    padding: 0 5px 0 5px;
}
/*nav end*/

/*team start*/
.team, .team-item {
    position: relative;
}
.team-des {
    background-color: #4be3b0;
    color: #f4f4f4;
    text-align: center;
    position: absolute;
    bottom: 24px;
    width: 90%;
    border-top-right-radius: 93%;
    transition: 0.3s ease-in-out;
}

.team-item:hover .team-des {
    height: 100%;
    background-color: rgba(174, 224, 207, 0.41);
    padding: 5rem;
    top: 0;
    border-top-right-radius: 0;
}
/*team end*/

/*portfolio end*/
.portfolio {
    opacity:0.7;
}
.portfolio:hover {
    opacity:1;
    transition: 1s;
}
.portfolio:not(:hover) {
    transition: 1s;
}
/*portfolio end*/